<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Juego de escritura</h1>

      <p class="has-text-centered">
        <span
          [class]="compare(letter, enteredText[i])"
          *ngFor="let letter of randomText.split(''); let i = index"
          >{{ letter }}</span
        >
      </p>

      <div class="field">
        <input class="input" (input)="onInput($event.target.value)" />
      </div>

      <div *ngIf="enteredText === randomText" class="box has-text-centered">
        <h1 class="title">Success!</h1>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Typing Proyect</p>
        <p class="subtitle is-6">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
    <input type="text">
  </div>
  <div class="content">
    You win!
  </div>
</div> -->
